@use './variables';
@use './breakpoints';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray; // padrão


  @include breakpoints.respond-to(xs) {
    background-color: green;
  }

  @include breakpoints.respond-to(sm) {
    background-color: purple;
  }

  @include breakpoints.respond-to(md) {
    background-color: blue;
  }

  @include breakpoints.respond-to(lg) {
    background-color: yellowgreen;
  }

  @include breakpoints.respond-to(xl) {
    background-color: lightsalmon;
  }

  @include breakpoints.respond-to(ultra) {
    background-color: blueviolet;
  }

}
