@use './variables';
@use './breakpoints';
@use './mixin';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  //background-color: lightgray; // padrão


  @include breakpoints.respond-to(xs) {
    background-color: #008000;
  }

  @include breakpoints.respond-to(sm) {
    background-color: #78ff78;
  }

  @include breakpoints.respond-to(md) {
    background-color: #0000ff;
  }

  @include breakpoints.respond-to(lg) {
    background-color: #799dff;
  }

  @include breakpoints.respond-to(xl) {
    background-color: #f28500;
  }

  @include breakpoints.respond-to(ultra) {
    background-color: #ffc37a;
  }

}
