@use "./../styles/breakpoints" as *;
@use "./../styles/mixin" as *;


.container {
  padding: 16px;
  background-color: lightgreen;
  border-radius: 16px;

  @include center-container(xxl); // valor default

  @include respond-to(sm) { // exemplo se precisar de um breakpoint específico
    @include center-container(sm);
    padding: 12px;
    font-size: 14px;
  }

  @each $breakpoint, $value in $breakpoints {
    @include respond-to($breakpoint) {
      @include center-container($breakpoint);
    }
  }
}
