@use './../styles/breakpoints';

.container {
  padding: 16px;

  // @include for-tablet {
  //   padding: 32px;
  // }

  // @include for-desktop {
  //   padding: 64px;
  // }

  @include breakpoints.respond-to (sm) {
    padding: 32px;
  }

  @include breakpoints.respond-to (md) {
    padding: 64px;
  }

  @include breakpoints.respond-to (lg) {
    padding: 90px;
  }
}
