@use "./../styles/breakpoints" as *;
@use "./../styles/mixin" as *;


.container {
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  margin: 22px auto 0 auto;

  @include center-container(md); // valor default

  @include respond-to(sm) { // exemplo se precisar de um breakpoint específico
    @include center-container(sm);
    padding: 12px;
    font-size: 14px;
  }

  @each $breakpoint, $value in $breakpoints {
    @include respond-to($breakpoint) {
      @include center-container($breakpoint);
    }
  }

  &__title {
    @include heading-style;
  }

  &__p {
    @include paragraph-style;
  }

  &__link {
    @include highlight-link;
  }

  &__link:hover {
    color: #16005f;
    text-decoration: underline;
    cursor: pointer;
  }
}
